.User {
	position: relative;
}

.Albums {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.CardUser {
	flex-direction: column;
	padding: 15px;
	color: #222;
	border: 1px solid #ccc;
	flex: 1;
	min-width: 300px;
	display: flex;
	align-items: center;

	> a {
		text-decoration: none;
		font-size: math;
		color: #222222;
	}

	> h4 {
		text-transform: capitalize;
		margin: 0;
	}

	&:hover {
		background-color: rgba(160, 240, 255, 0.5);
	}
}
